## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
imdb_name_basics = pd.read_csv('data/imdb.name.basics.csv')
tmdb_movies = pd.read_csv('data/Tmdb.movies.csv')
tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv')

imdb_title_principals = pd.read_csv('data/imdb.title.principals.csv')
rt_reviews = pd.read_csv('data/rt.reviews.tsv', delimiter='\t', encoding='unicode_escape')

imdb_title_akas = pd.read_csv('data/imdb.title.akas.csv')
imdb_title_crew = pd.read_csv('data/imdb.title.crew.csv')
pd.read_csv('data/rt.movie_info.tsv', delimiter='\t')

imdb_title_basics = pd.read_csv('data/imdb.title.basics.csv')
imdb_title_ratings = pd.read_csv('data/imdb.title.ratings.csv')
bom_movie_gross = pd.read_csv('data/bom.movie_gross.csv')

In [3]:
imdb_title_basics.set_index('tconst', inplace=True)
imdb_title_ratings.set_index('tconst', inplace=True)
imdb_title_crew.set_index('tconst', inplace=True)
imdb_title_principals.set_index('tconst', inplace=True)
imdb_frankenstein = imdb_title_basics.join(imdb_title_ratings, how='left')
imdb_frankenstein = imdb_frankenstein.join(imdb_title_crew, how='left')
imdb_frankenstein = imdb_frankenstein.join(imdb_title_principals, how='left')
imdb_frankenstein.reset_index(inplace=True)
imdb_frankenstein.set_index('nconst', inplace=True)
imdb_name_basics.set_index('nconst', inplace=True)
imdb_frankenstein = imdb_frankenstein.join(imdb_name_basics, how='left')

In [4]:
imdb_frankenstein.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1030876 entries, nm0000002 to nan
Data columns (total 19 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   tconst              1030876 non-null  object
 1   primary_title       1030876 non-null  object
 2   original_title      1030855 non-null  object
 3   start_year          1030876 non-null  int64
 4   runtime_minutes     828893 non-null   float64
 5   genres              1007380 non-null  object
 6   averagerating       629926 non-null   float64
 7   numvotes            629926 non-null   float64
 8   directors           1014587 non-null  object
 9   writers             861040 non-null   object
 10  ordering            1028186 non-null  float64
 11  category            1028186 non-null  object
 12  job                 177684 non-null   object
 13  characters          393360 non-null   object
 14  primary_name        1027912 non-null  object
 15  birth_year          234048 non-null   float64
 16  death_year          11843 non-null    float64
 17  primary_profession  974266 non-null   object
 18  known_for_titles    997445 non-null   object
dtypes: float64(6), int64(1), object(12)
memory usage: 157.3+ MB

In [5]:
imdb_frankenstein.describe()

,start_year,runtime_minutes,averagerating,numvotes,ordering,birth_year,death_year
count,1.030876e+06,828893.000000,629926.000000,6.299260e+05,1.028186e+06,234048.000000,11843.00000
mean,2.014607e+03,90.390172,6.261943,4.108752e+03,4.739847e+00,1967.742617,1995.25247
std,2.742710e+00,111.022517,1.452052,3.275891e+04,2.747446e+00,22.099106,64.57055
min,2.010000e+03,1.000000,1.000000,5.000000e+00,1.000000e+00,1.000000,17.00000
25%,2.012000e+03,76.000000,5.400000,1.600000e+01,2.000000e+00,1959.000000,2004.00000
50%,2.015000e+03,90.000000,6.400000,6.500000e+01,4.000000e+00,1971.000000,2014.00000
75%,2.017000e+03,102.000000,7.300000,3.670000e+02,7.000000e+00,1980.000000,2017.00000
max,2.115000e+03,51420.000000,10.000000,1.841066e+06,1.000000e+01,2014.000000,2019.00000

In [6]:
imdb_frankenstein.head

<bound method NDFrame.head of               tconst                                   primary_title  \
nconst
nm0000002  tt0858500                                Wide Blue Yonder
nm0000002  tt1368858                                      The Forger
nm0000002  tt1626811    Cameraman: The Life and Work of Jack Cardiff
nm0000002  tt2053352           Diana Vreeland: The Eye Has to Travel
nm0000003  tt1714820                                            1960
...              ...                                             ...
NaN        tt9787912              Deoch an Dorais (Name Your Poison)
NaN        tt9848124      Pinkfong 50 Best Hits: Baby Shark and More
NaN        tt9853488                           Jade Hunters of China
NaN        tt9877344                    The Elephant King Adventures
NaN        tt9902734  Josh Groban Bridges from Madison Square Garden

                                           original_title  start_year  \
nconst
nm0000002                                Wide Blue Yonder        2010
nm0000002                                      The Forger        2012
nm0000002    Cameraman: The Life and Work of Jack Cardiff        2010
nm0000002           Diana Vreeland: The Eye Has to Travel        2011
nm0000003                                            1960        2010
...                                                   ...         ...
NaN                    Deoch an Dorais (Name Your Poison)        2015
NaN            Pinkfong 50 Best Hits: Baby Shark and More        2019
NaN                                 Jade Hunters of China        2016
NaN                          The Elephant King Adventures        2019
NaN        Josh Groban Bridges from Madison Square Garden        2019

           runtime_minutes                 genres  averagerating  numvotes  \
nconst
nm0000002             82.0           Comedy,Drama            5.7      69.0
nm0000002             94.0                  Drama            5.4    4302.0
nm0000002             86.0  Biography,Documentary            7.8    1060.0
nm0000002             86.0  Biography,Documentary            7.5    1299.0
nm0000003             75.0            Documentary            6.8      49.0
...                    ...                    ...            ...       ...
NaN                    NaN                  Drama            NaN       NaN
NaN                   63.0                  Music            NaN       NaN
NaN                   50.0            Documentary            NaN       NaN
NaN                    NaN              Adventure            NaN       NaN
NaN                    NaN                    NaN            NaN       NaN

                               directors                        writers  \
nconst
nm0000002                      nm0950000                      nm1544301
nm0000002                      nm2940732            nm0209856,nm2940732
nm0000002                      nm1862979                            NaN
nm0000002  nm1367752,nm3088409,nm4662682  nm4662682,nm1367752,nm3088409
nm0000003                      nm0759368  nm0759368,nm2923352,nm0278392
...                                  ...                            ...
NaN                                  NaN                            NaN
NaN                                  NaN                            NaN
NaN                                  NaN                            NaN
NaN                                  NaN                            NaN
NaN                                  NaN                            NaN

           ordering         category  job                 characters  \
nconst
nm0000002       2.0          actress  NaN                    ["May"]
nm0000002       1.0          actress  NaN             ["Anne-Marie"]
nm0000002       4.0             self  NaN  ["Herself - Interviewee"]
nm0000002       4.0  archive_footage  NaN                ["Herself"]
nm0000003       3.0  archive_footage  NaN                ["Herself"]
...             ...              ...  ...                        ...
NaN             NaN              NaN  NaN                        NaN
NaN             NaN              NaN  NaN                        NaN
NaN             NaN              NaN  NaN                        NaN
NaN             NaN              NaN  NaN                        NaN
NaN             NaN              NaN  NaN                        NaN

              primary_name  birth_year  death_year  \
nconst
nm0000002    Lauren Bacall      1924.0      2014.0
nm0000002    Lauren Bacall      1924.0      2014.0
nm0000002    Lauren Bacall      1924.0      2014.0
nm0000002    Lauren Bacall      1924.0      2014.0
nm0000003  Brigitte Bardot      1934.0         NaN
...                    ...         ...         ...
NaN                    NaN         NaN         NaN
NaN                    NaN         NaN         NaN
NaN                    NaN         NaN         NaN
NaN                    NaN         NaN         NaN
NaN                    NaN         NaN         NaN

                    primary_profession  \
nconst
nm0000002           actress,soundtrack
nm0000002           actress,soundtrack
nm0000002           actress,soundtrack
nm0000002           actress,soundtrack
nm0000003  actress,soundtrack,producer
...                                ...
NaN                                NaN
NaN                                NaN
NaN                                NaN
NaN                                NaN
NaN                                NaN

                                  known_for_titles
nconst
nm0000002  tt0038355,tt0117057,tt0071877,tt0037382
nm0000002  tt0038355,tt0117057,tt0071877,tt0037382
nm0000002  tt0038355,tt0117057,tt0071877,tt0037382
nm0000002  tt0038355,tt0117057,tt0071877,tt0037382
nm0000003  tt0049189,tt0057345,tt0054452,tt0059956
...                                            ...
NaN                                            NaN
NaN                                            NaN
NaN                                            NaN
NaN                                            NaN
NaN                                            NaN

[1030876 rows x 19 columns]>

In [7]:
imdb_frankenstein.sort_values('numvotes')

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,directors,writers,ordering,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
nconst,,,,,,,,,,,,,,,,,,,
nm6083628,tt7568474,Hungarian Corridor - Warsaw 1944,Magyar Korridor - Varsó 1944,2016,NaN,Documentary,9.0,5.0,"nm9379102,nm8038738","nm8038738,nm9379102",9.0,producer,producer,NaN,Róbert Törköly,NaN,NaN,producer,"tt7568474,tt7694056"
nm7775746,tt5915520,Strange Bird,Strange Bird,2018,70.0,Drama,8.2,5.0,nm3205229,nm3205229,3.0,actress,NaN,"[""Rebel Agent""]",Jen Barbeito,NaN,NaN,"actress,miscellaneous","tt5254712,tt6355698,tt2256925,tt8324754"
nm0145408,tt7929276,Partisan: Volksbühne am Rosa-Luxemburg-Platz 1...,Partisan: Volksbühne am Rosa-Luxemburg-Platz 1...,2018,130.0,Documentary,8.0,5.0,"nm2862832,nm2181672,nm9587712",nm2862832,1.0,self,NaN,"[""Himself""]",Frank Castorf,1951.0,NaN,"director,actor,writer","tt0270327,tt5341860,tt0207080,tt0159015"
nm6691012,tt4872362,(313) Choices,(313) Choices,2015,90.0,Drama,5.6,5.0,"nm7155805,nm6691012,nm6627239,nm7246155,nm7246...","nm7513044,nm7155807",10.0,director,NaN,NaN,Keenan Wetzel,NaN,NaN,"director,writer,casting_department","tt4872362,tt3924256"
nm1652606,tt2072189,Ordinary Wilderness,Ordinary Wilderness,2012,96.0,"Comedy,Drama",8.2,5.0,nm3687081,"nm3687081,nm3866690",7.0,producer,producer,NaN,Fred Espinosa,NaN,NaN,"producer,camera_department,director","tt2072189,tt2064969,tt2015399,tt1770678"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,tt9787912,Deoch an Dorais (Name Your Poison),Deoch an Dorais (Name Your Poison),2015,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,tt9848124,Pinkfong 50 Best Hits: Baby Shark and More,Pinkfong 50 Best Hits: Baby Shark and More,2019,63.0,Music,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,tt9853488,Jade Hunters of China,Jade Hunters of China,2016,50.0,Documentary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,tt9877344,The Elephant King Adventures,The Elephant King Adventures,2019,NaN,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,tt9902734,Josh Groban Bridges from Madison Square Garden,Josh Groban Bridges from Madison Square Garden,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
genre_and_ratings = imdb_frankenstein[['original_title', 'genres', 'averagerating', 'numvotes']]

In [9]:
genre_and_ratings.drop_duplicates(inplace=True)

<ipython-input-9-841a4cc45101>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_and_ratings.drop_duplicates(inplace=True)

In [45]:
genre_and_ratings['genres'].value_counts().to_frame()

                                genres
Documentary                      32022
Drama                            21305
Comedy                            9159
Horror                            4357
Comedy,Drama                      3516
...                                ...
Comedy,Musical,War                   1
Fantasy,War                          1
Documentary,Reality-TV,Sport         1
Animation,Documentary,Thriller       1
Animation,History,Musical            1

[1085 rows x 1 columns]

NameError: name 'ascending' is not defined

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Documentary'].sort_values('averagerating', ascending=False)

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Documenatry Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Drama'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Drama Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Comedy'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Comedy Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Horror'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Horror Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Comedy,Drama'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Comedy,Drama Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Thriller'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Thriller Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Action'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Action Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Drama,Romance'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Drama,Romance Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Comedy,Drama,Romance'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Comedy,Drama,Romance Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Documentary,Drama'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.boxplot(x)
plt.title('Documentary,Drama Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Biography,Documentary'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Biography,Documentary Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Action,Adventure,Sci-Fi'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Action,Adventure,Sci-Fi Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Action,Thriller'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Action,Thriller Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Adventure,Drama,Sci-Fi'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Adventure,Drama,Sci-Fi Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Drama,Western'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Drama,Western Ratings')

In [ ]:
documentaries = genre_and_ratings[genre_and_ratings['genres'] == 'Mystery,Thriller'].sort_values('averagerating', ascending=False)
documentaries
fig, axes = plt.subplots()
x= documentaries.value_counts('averagerating').index
y= documentaries.value_counts('averagerating').values
plt.scatter(x,y)
plt.title('Mystery,Thriller Ratings')